# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
mandelbrot_explorer

# Image and Video Files
*.jpg
*.avi
*.mp4

# Swap Files
*.swp

# Build Folder
build_cpu/*
build_gpu/*
build/*
